{
  "openapi": "3.0.0",
  "info": {
    "title": "4. 供应商付款",
    "version": "1.0",
    "description": ""
  },
  "servers": [
    {
      "url": "https://global-api-sandbox.lianlianpay-inc.com",
      "description": "沙盒环境地址"
    },
    {
      "description": "生产环境地址",
      "url": "https://global-api.lianlianglobal.com"
    }
  ],
  "components": {
    "schemas": {
      "payee-bank-account": {
        "title": "收款人银行账号信息",
        "type": "object",
        "description": "收款人银行账号信息",
        "properties": {
          "id": {
            "type": "string",
            "description": "收款人银行卡账户编号",
            "maxLength": 32
          },
          "accountType": {
            "type": "string",
            "enum": [
              "ENTERPRISE",
              "INDIVIDUAL"
            ],
            "description": "银行卡账户绑定类型：\n  ENTERPRISE: 对公类型\n  INDIVIDUAL: 对私类型"
          },
          "region": {
            "type": "string",
            "description": "    CN(\"CN\", \"中国大陆\"),\n    US(\"US\", \"美国\"),\n    FR(\"FR\", \"法国\"),\n    DE(\"DE\", \"德国\"),\n    IT(\"IT\", \"意大利\"),\n    ES(\"ES\", \"西班牙\"),\n    GB(\"GB\", \"英国\"),\n    HK(\"HK\", \"中国香港\")",
            "enum": [
              "CN",
              "US",
              "FR",
              "DE",
              "IT",
              "ES",
              "GB",
              "HK"
            ],
            "minLength": 2,
            "maxLength": 2
          },
          "cnyBankInfo": {
            "title": "人民币银行账号信息",
            "type": "object",
            "description": "人民币银行账号信息，创建国内CNY（人民币）银行账号信息时必传",
            "properties": {
              "accountName": {
                "type": "string",
                "description": "账户名称",
                "maxLength": 32
              },
              "bankName": {
                "type": "string",
                "description": "银行编码，请参照`bank-info-enum`对象",
                "enum": [
                  "中国工商银行",
                  "中国农业银行",
                  "中国银行",
                  "中国建设银行",
                  "中国邮政储蓄银行",
                  "招商银行",
                  "光大银行",
                  "平安银行",
                  "中信银行",
                  "民生银行",
                  "兴业银行",
                  "华夏银行",
                  "上海浦东发展银行",
                  "广东发展银行",
                  "北京银行",
                  "杭州银行",
                  "交通银行",
                  "安徽省农村信用社联合社",
                  "安阳商业银行",
                  "鞍山银行",
                  "包商银行",
                  "宝鸡商行",
                  "保定银行",
                  "北京农村商业银行",
                  "渤海银行",
                  "沧州银行",
                  "常熟农村商业银行",
                  "朝阳银行",
                  "成都农村商业银行",
                  "成都市商业银行",
                  "承德市商业银行",
                  "承德银行",
                  "大华银行（ 中国）",
                  "大连市商业银行",
                  "大新银行（ 中国）",
                  "大兴安岭农村商业银行",
                  "丹东市商业银行",
                  "德阳市商业银行",
                  "德阳银行",
                  "德州银行",
                  "东莞农商",
                  "东莞商行",
                  "东莞银行",
                  "东亚银行",
                  "东营银行",
                  "东营银行",
                  "佛山顺德农村商业银行",
                  "福建海峡银行",
                  "福建省农村信用社联合社",
                  "抚顺市商业银行",
                  "抚顺银行",
                  "阜新市商业银行",
                  "阜新银行",
                  "富滇银行",
                  "甘肃农信社",
                  "甘肃银行",
                  "赣州市商业银行",
                  "赣州银行股份有限公司",
                  "广东华兴银行",
                  "广东南粤银行",
                  "广东农信",
                  "广西北部湾银行",
                  "广西农村信用社联合社",
                  "广元贵商村镇银行",
                  "广州农商",
                  "广州市商业银行",
                  "广州银行",
                  "贵阳银行",
                  "贵州省农村信用社联合社",
                  "贵州银行",
                  "桂林市商业银行",
                  "桂林银行",
                  "哈尔滨农村商业银行股份有限公司",
                  "哈尔滨商行",
                  "哈密市商业银行",
                  "海口联合农村商业银行",
                  "海南省农村信用社联合社",
                  "海南银行股份有限公司",
                  "邯郸市商业银行",
                  "韩亚银行（ 中国）",
                  "汉口银行",
                  "河北省农村信用社联合社",
                  "河北银行股份有限公司",
                  "河南省农村信用社联合社",
                  "鹤壁银行",
                  "黑龙江农信社",
                  "恒丰银行",
                  "恒生银行",
                  "衡水市商业银行",
                  "侯马太行村镇银行",
                  "葫芦岛银行",
                  "湖北农信社",
                  "湖北银行",
                  "湖南省农村信用社联合社",
                  "湖州市商业银行",
                  "花旗银行",
                  "华美银行",
                  "华融湘江银行",
                  "黄河农村商业银行",
                  "徽商银行",
                  "汇丰银行",
                  "吉林省农信社",
                  "吉林市商业银行",
                  "吉林银行",
                  "济南市商业银行",
                  "济宁银行",
                  "嘉兴市商业银行",
                  "江门新会农村商业银行",
                  "江南农村商业银行",
                  "江苏东吴农村商业银行",
                  "江苏省农村信用社联合社",
                  "江苏沭阳东吴村镇银行",
                  "江苏银行",
                  "江苏紫金农村商业银行",
                  "江西省农村信用社联合社",
                  "江西银行",
                  "江阴市农村商业银行",
                  "焦作市商业银行",
                  "金华银行",
                  "锦州银行",
                  "锦州银行",
                  "晋城商业银行",
                  "晋商银行",
                  "晋商银行",
                  "晋中市商业银行",
                  "九江银行",
                  "开封新东方村镇银行",
                  "昆仑银行股份有限公司",
                  "昆明农联社",
                  "昆明商业银行",
                  "昆山农村信用合作社联合社",
                  "莱商银行",
                  "兰州市商业银行",
                  "廊坊银行",
                  "乐山市商业银行",
                  "连云港市商业银行",
                  "辽宁省农村信用社联合社",
                  "辽阳市商业银行",
                  "临商银行",
                  "柳州市商业银行",
                  "柳州银行",
                  "龙江银行",
                  "泸州市商业银行",
                  "洛阳银行",
                  "漯河银行",
                  "绵阳市商业银行",
                  "南昌市商业银行",
                  "南充市商业银行",
                  "南京银行",
                  "南宁市商业银行",
                  "南通市商业银行",
                  "南洋商业银行",
                  "南洋商业银行（ 中国）",
                  "内蒙古农村信用社联合式",
                  "内蒙古银行",
                  "内蒙古银行",
                  "宁波市农业银行",
                  "宁波通商银行",
                  "宁波银行",
                  "宁波鄞州农村合作银行",
                  "宁夏贺兰回商村镇银行",
                  "宁夏银行",
                  "宁阳沪农商村镇银行",
                  "农信社",
                  "攀枝花市商业银行",
                  "平顶山银行股份有限公司",
                  "齐鲁银行",
                  "齐商银行",
                  "齐商银行",
                  "秦皇岛市商业银行",
                  "青岛农信",
                  "青岛市商业银行",
                  "青海省农村信用社联合社",
                  "青海银行",
                  "青海银行",
                  "曲靖市商业银行",
                  "泉州银行",
                  "日照银行",
                  "融水柳银村镇银行",
                  "瑞穗银行（ 中国） 有限公司",
                  "三门峡银行",
                  "厦门国际银行",
                  "厦门市商业银行",
                  "厦门银行股份有限公司",
                  "山东农信社",
                  "山东省农联社",
                  "山西省农村信用社联合社",
                  "陕西省农村信用社联合社",
                  "商丘市商业银行",
                  "上海华瑞银行",
                  "上海农村商业银行",
                  "上海银行",
                  "上饶银行",
                  "绍兴市商业银行",
                  "深农商行",
                  "沈阳于洪永安村镇银行",
                  "盛京银行",
                  "石嘴山银行",
                  "双流诚民村镇银行",
                  "四川省农村信用社联合社",
                  "四川天府银行股份有限公司",
                  "苏州银行股份有限公司",
                  "遂宁市商业银行",
                  "台州市商业银行",
                  "太仓农村商业银行",
                  "泰安市商业银行",
                  "泰隆城市信用社",
                  "唐山市商业银行",
                  "天津金城银行",
                  "天津农村商业银行",
                  "天津市农村信用社",
                  "天津银行",
                  "威海市商业银行",
                  "微信转清",
                  "潍坊银行",
                  "温州银行",
                  "乌海市商业银行",
                  "乌鲁木齐市商业银行",
                  "无锡农村商业银行",
                  "吴江农商行",
                  "武冈包商村镇银行",
                  "武汉农商行",
                  "武汉众邦银行",
                  "西安高陵阳光村镇银行",
                  "西安市商业银行",
                  "西安银行",
                  "新韩银行",
                  "新疆农村信用社联合社",
                  "新网银行",
                  "新乡市商业银行",
                  "信阳银行",
                  "信阳珠江村镇银行",
                  "星展银行",
                  "邢台银行",
                  "兴业扫码",
                  "徐州市商业银行",
                  "徐州市市郊农村信用合作社",
                  "许昌市商业银行",
                  "烟台市商业银行",
                  "尧都区农村信用合作社联社",
                  "宜宾市商业银行",
                  "营口市商业银行",
                  "营口沿海银行",
                  "永亨银行",
                  "玉溪市商业银行",
                  "云南省农村信用社",
                  "枣庄银行",
                  "渣打银行",
                  "张家港市农村商业银行",
                  "张家口市商业银行",
                  "长安银行",
                  "长江商业银行",
                  "长沙银行",
                  "长治市商业银行",
                  "浙江稠州商业银行",
                  "浙江民泰商业银行",
                  "浙江泰隆商业银行",
                  "浙江萧山湖商村镇银行",
                  "浙江萧山农村商业银行",
                  "浙商银行",
                  "郑州银行",
                  "中国工商银行(亚洲) 有限公司",
                  "中原银行",
                  "重庆富民银行",
                  "重庆农村商业银行",
                  "重庆农村商业银行",
                  "重庆三峡银行",
                  "重庆市农村信用社联合社",
                  "重庆市商业银行",
                  "重庆渝北银座村镇银行",
                  "周口市商业银行",
                  "珠海华润银行",
                  "珠海华润银行",
                  "驻马店银行",
                  "自贡市商业银行",
                  "ANZ银行",
                  "Bank of America",
                  "Barclays Bank",
                  "Barclays Bank",
                  "BMO Bank of Montreal",
                  "Branch Banking and Trust Company",
                  "CIMB Bank Berhad",
                  "Citibank",
                  "N.A.",
                  "Hong Kong Branch",
                  "Commonwealth Bank of Australia",
                  "Deutsche Bank AG(德意志银行)",
                  "National Westminster Bank",
                  "Raiffeisenbank AO",
                  "RHB Bank Berhad"
                ],
                "maxLength": 64
              },
              "branchBankName": {
                "type": "string",
                "description": "支行名称",
                "maxLength": 32
              },
              "certNo": {
                "type": "string",
                "maxLength": 18,
                "description": "收款人证件号码:对公时为企业信用代码；对私为个人身份证号码"
              },
              "accountNo": {
                "type": "string",
                "description": "银行卡号",
                "maxLength": 32
              },
              "contactPhone": {
                "type": "string",
                "description": "收款人联系电话",
                "maxLength": 12
              }
            },
            "required": [
              "accountName",
              "bankName",
              "branchBankName",
              "certNo",
              "accountNo",
              "contactPhone"
            ],
            "x-tags": [
              "对象"
            ]
          },
          "noneCNYBankInfo": {
            "title": "非人民币银行账户信息",
            "type": "object",
            "description": "非人民币银行账户信息，创建非人民币银行账户信息时必传",
            "properties": {
              "accountName": {
                "type": "string",
                "description": "非中文账户名称",
                "maxLength": 64
              },
              "bankName": {
                "type": "string",
                "description": "银行名称",
                "maxLength": 32
              },
              "accountNo": {
                "type": "string",
                "description": "卡号（不能以-:/开头   'DE','FR','ES','IT' 有IBAN 校验）",
                "maxLength": 32
              },
              "bankCode": {
                "type": "string",
                "description": "银行编码（美国9位路线号、英国银行分类号码、澳洲BSB)"
              },
              "swiftCode": {
                "type": "string",
                "description": "SWIFT code"
              },
              "bankAddress": {
                "type": "string",
                "description": "银行地址"
              },
              "currency": {
                "type": "string",
                "description": "币种",
                "example": "USD",
                "minLength": 3,
                "maxLength": 3
              }
            },
            "required": [
              "accountName",
              "bankName",
              "accountNo",
              "swiftCode",
              "bankAddress"
            ],
            "x-tags": [
              "对象"
            ]
          },
          "status": {
            "type": "string",
            "description": "    WAITING_DOCUMENT(\"待完善材料\"),\n    WAITING_CHECK(\"待审核\"),\n    SUCCESS(\"成功\"),\n    FAILED(\"失败\")",
            "enum": [
              "WAITING_DOCUMENT",
              "WAITING_CHECK",
              "SUCCESS",
              "FAILED"
            ]
          },
          "createTime": {
            "type": "string",
            "description": "创建时间"
          }
        },
        "required": [
          "id",
          "accountType",
          "region",
          "status",
          "createTime"
        ],
        "x-tags": [
          "对象"
        ]
      },
      "none-cny-bank-info": {
        "title": "非人民币银行账户信息",
        "type": "object",
        "description": "非人民币银行账户信息，创建非人民币银行账户信息时必传",
        "properties": {
          "accountName": {
            "type": "string",
            "description": "非中文账户名称",
            "maxLength": 64
          },
          "bankName": {
            "type": "string",
            "description": "银行名称",
            "maxLength": 32
          },
          "accountNo": {
            "type": "string",
            "description": "卡号（不能以-:/开头   'DE','FR','ES','IT' 有IBAN 校验）",
            "maxLength": 32
          },
          "bankCode": {
            "type": "string",
            "description": "银行编码（美国9位路线号、英国银行分类号码、澳洲BSB)"
          },
          "swiftCode": {
            "type": "string",
            "description": "SWIFT code"
          },
          "bankAddress": {
            "type": "string",
            "description": "银行地址"
          },
          "currency": {
            "type": "string",
            "description": "币种",
            "example": "USD",
            "minLength": 3,
            "maxLength": 3
          }
        },
        "required": [
          "accountName",
          "bankName",
          "accountNo",
          "swiftCode",
          "bankAddress"
        ],
        "x-tags": [
          "对象"
        ]
      },
      "cny-bank-info": {
        "title": "人民币银行账号信息",
        "type": "object",
        "description": "人民币银行账号信息，创建国内CNY（人民币）银行账号信息时必传",
        "properties": {
          "accountName": {
            "type": "string",
            "description": "账户名称",
            "maxLength": 32
          },
          "bankName": {
            "type": "string",
            "description": "银行编码，请参照`bank-info-enum`对象",
            "enum": [
              "中国工商银行",
              "中国农业银行",
              "中国银行",
              "中国建设银行",
              "中国邮政储蓄银行",
              "招商银行",
              "光大银行",
              "平安银行",
              "中信银行",
              "民生银行",
              "兴业银行",
              "华夏银行",
              "上海浦东发展银行",
              "广东发展银行",
              "北京银行",
              "杭州银行",
              "交通银行",
              "安徽省农村信用社联合社",
              "安阳商业银行",
              "鞍山银行",
              "包商银行",
              "宝鸡商行",
              "保定银行",
              "北京农村商业银行",
              "渤海银行",
              "沧州银行",
              "常熟农村商业银行",
              "朝阳银行",
              "成都农村商业银行",
              "成都市商业银行",
              "承德市商业银行",
              "承德银行",
              "大华银行（ 中国）",
              "大连市商业银行",
              "大新银行（ 中国）",
              "大兴安岭农村商业银行",
              "丹东市商业银行",
              "德阳市商业银行",
              "德阳银行",
              "德州银行",
              "东莞农商",
              "东莞商行",
              "东莞银行",
              "东亚银行",
              "东营银行",
              "东营银行",
              "佛山顺德农村商业银行",
              "福建海峡银行",
              "福建省农村信用社联合社",
              "抚顺市商业银行",
              "抚顺银行",
              "阜新市商业银行",
              "阜新银行",
              "富滇银行",
              "甘肃农信社",
              "甘肃银行",
              "赣州市商业银行",
              "赣州银行股份有限公司",
              "广东华兴银行",
              "广东南粤银行",
              "广东农信",
              "广西北部湾银行",
              "广西农村信用社联合社",
              "广元贵商村镇银行",
              "广州农商",
              "广州市商业银行",
              "广州银行",
              "贵阳银行",
              "贵州省农村信用社联合社",
              "贵州银行",
              "桂林市商业银行",
              "桂林银行",
              "哈尔滨农村商业银行股份有限公司",
              "哈尔滨商行",
              "哈密市商业银行",
              "海口联合农村商业银行",
              "海南省农村信用社联合社",
              "海南银行股份有限公司",
              "邯郸市商业银行",
              "韩亚银行（ 中国）",
              "汉口银行",
              "河北省农村信用社联合社",
              "河北银行股份有限公司",
              "河南省农村信用社联合社",
              "鹤壁银行",
              "黑龙江农信社",
              "恒丰银行",
              "恒生银行",
              "衡水市商业银行",
              "侯马太行村镇银行",
              "葫芦岛银行",
              "湖北农信社",
              "湖北银行",
              "湖南省农村信用社联合社",
              "湖州市商业银行",
              "花旗银行",
              "华美银行",
              "华融湘江银行",
              "黄河农村商业银行",
              "徽商银行",
              "汇丰银行",
              "吉林省农信社",
              "吉林市商业银行",
              "吉林银行",
              "济南市商业银行",
              "济宁银行",
              "嘉兴市商业银行",
              "江门新会农村商业银行",
              "江南农村商业银行",
              "江苏东吴农村商业银行",
              "江苏省农村信用社联合社",
              "江苏沭阳东吴村镇银行",
              "江苏银行",
              "江苏紫金农村商业银行",
              "江西省农村信用社联合社",
              "江西银行",
              "江阴市农村商业银行",
              "焦作市商业银行",
              "金华银行",
              "锦州银行",
              "锦州银行",
              "晋城商业银行",
              "晋商银行",
              "晋商银行",
              "晋中市商业银行",
              "九江银行",
              "开封新东方村镇银行",
              "昆仑银行股份有限公司",
              "昆明农联社",
              "昆明商业银行",
              "昆山农村信用合作社联合社",
              "莱商银行",
              "兰州市商业银行",
              "廊坊银行",
              "乐山市商业银行",
              "连云港市商业银行",
              "辽宁省农村信用社联合社",
              "辽阳市商业银行",
              "临商银行",
              "柳州市商业银行",
              "柳州银行",
              "龙江银行",
              "泸州市商业银行",
              "洛阳银行",
              "漯河银行",
              "绵阳市商业银行",
              "南昌市商业银行",
              "南充市商业银行",
              "南京银行",
              "南宁市商业银行",
              "南通市商业银行",
              "南洋商业银行",
              "南洋商业银行（ 中国）",
              "内蒙古农村信用社联合式",
              "内蒙古银行",
              "内蒙古银行",
              "宁波市农业银行",
              "宁波通商银行",
              "宁波银行",
              "宁波鄞州农村合作银行",
              "宁夏贺兰回商村镇银行",
              "宁夏银行",
              "宁阳沪农商村镇银行",
              "农信社",
              "攀枝花市商业银行",
              "平顶山银行股份有限公司",
              "齐鲁银行",
              "齐商银行",
              "齐商银行",
              "秦皇岛市商业银行",
              "青岛农信",
              "青岛市商业银行",
              "青海省农村信用社联合社",
              "青海银行",
              "青海银行",
              "曲靖市商业银行",
              "泉州银行",
              "日照银行",
              "融水柳银村镇银行",
              "瑞穗银行（ 中国） 有限公司",
              "三门峡银行",
              "厦门国际银行",
              "厦门市商业银行",
              "厦门银行股份有限公司",
              "山东农信社",
              "山东省农联社",
              "山西省农村信用社联合社",
              "陕西省农村信用社联合社",
              "商丘市商业银行",
              "上海华瑞银行",
              "上海农村商业银行",
              "上海银行",
              "上饶银行",
              "绍兴市商业银行",
              "深农商行",
              "沈阳于洪永安村镇银行",
              "盛京银行",
              "石嘴山银行",
              "双流诚民村镇银行",
              "四川省农村信用社联合社",
              "四川天府银行股份有限公司",
              "苏州银行股份有限公司",
              "遂宁市商业银行",
              "台州市商业银行",
              "太仓农村商业银行",
              "泰安市商业银行",
              "泰隆城市信用社",
              "唐山市商业银行",
              "天津金城银行",
              "天津农村商业银行",
              "天津市农村信用社",
              "天津银行",
              "威海市商业银行",
              "微信转清",
              "潍坊银行",
              "温州银行",
              "乌海市商业银行",
              "乌鲁木齐市商业银行",
              "无锡农村商业银行",
              "吴江农商行",
              "武冈包商村镇银行",
              "武汉农商行",
              "武汉众邦银行",
              "西安高陵阳光村镇银行",
              "西安市商业银行",
              "西安银行",
              "新韩银行",
              "新疆农村信用社联合社",
              "新网银行",
              "新乡市商业银行",
              "信阳银行",
              "信阳珠江村镇银行",
              "星展银行",
              "邢台银行",
              "兴业扫码",
              "徐州市商业银行",
              "徐州市市郊农村信用合作社",
              "许昌市商业银行",
              "烟台市商业银行",
              "尧都区农村信用合作社联社",
              "宜宾市商业银行",
              "营口市商业银行",
              "营口沿海银行",
              "永亨银行",
              "玉溪市商业银行",
              "云南省农村信用社",
              "枣庄银行",
              "渣打银行",
              "张家港市农村商业银行",
              "张家口市商业银行",
              "长安银行",
              "长江商业银行",
              "长沙银行",
              "长治市商业银行",
              "浙江稠州商业银行",
              "浙江民泰商业银行",
              "浙江泰隆商业银行",
              "浙江萧山湖商村镇银行",
              "浙江萧山农村商业银行",
              "浙商银行",
              "郑州银行",
              "中国工商银行(亚洲) 有限公司",
              "中原银行",
              "重庆富民银行",
              "重庆农村商业银行",
              "重庆农村商业银行",
              "重庆三峡银行",
              "重庆市农村信用社联合社",
              "重庆市商业银行",
              "重庆渝北银座村镇银行",
              "周口市商业银行",
              "珠海华润银行",
              "珠海华润银行",
              "驻马店银行",
              "自贡市商业银行",
              "ANZ银行",
              "Bank of America",
              "Barclays Bank",
              "Barclays Bank",
              "BMO Bank of Montreal",
              "Branch Banking and Trust Company",
              "CIMB Bank Berhad",
              "Citibank",
              "N.A.",
              "Hong Kong Branch",
              "Commonwealth Bank of Australia",
              "Deutsche Bank AG(德意志银行)",
              "National Westminster Bank",
              "Raiffeisenbank AO",
              "RHB Bank Berhad"
            ],
            "maxLength": 64
          },
          "branchBankName": {
            "type": "string",
            "description": "支行名称",
            "maxLength": 32
          },
          "certNo": {
            "type": "string",
            "maxLength": 18,
            "description": "收款人证件号码:对公时为企业信用代码；对私为个人身份证号码"
          },
          "accountNo": {
            "type": "string",
            "description": "银行卡号",
            "maxLength": 32
          },
          "contactPhone": {
            "type": "string",
            "description": "收款人联系电话",
            "maxLength": 12
          }
        },
        "required": [
          "accountName",
          "bankName",
          "branchBankName",
          "certNo",
          "accountNo",
          "contactPhone"
        ],
        "x-tags": [
          "对象"
        ]
      },
      "bank-info-enum": {
        "title": "收款银行编码",
        "type": "string",
        "description": "| 银行编码| 银行名称|  \n|--------|------------|\n| 1030000 | 中国农业银行 |\n| 4202220 | 大连市商业银行 |\n| 1050000 | 中国建设银行 |\n| 4145210 | 武汉市商业银行 |\n| 25260344 | AEON信贷财务亚洲有限公司 |\n| 14404900 | 河南省农村信用社联合社 |\n| 14505800 | 广东省农村信用社联合社 |\n| 3320000 | 南洋商业银行 |\n| 5295280 | 襄樊市商业银行股份有限公司 |\n| 3220000 | 渣打银行香港有限公司 |\n| 3200000 | 东亚银行中国有限公司 |\n| 5332740 | 七台河市城市信用社 |\n| 5284630 | 泰安市商业银行 |\n| 3260000 | 恒生银行 |\n| 15566152 | 广西鹿寨渝农商村镇银行 |\n| 14023052 | 昆山农信社 |\n| 15277470 | 普洱民生村镇银行 |\n| 3134500 | 济南市商业银行 |\n| 4562230 | 鞍山市商业银行 |\n| 4263380 | 金华市商业银行 |\n| 4453020 | 无锡市商业银行 |\n| 47980344 | 中国银行香港有限公司 |\n| 14113030 | 徐州市市郊农村信用合作社 |\n| 4803070 | 连云港市商业银行 |\n| 4115010 | 焦作市商业银行 |\n| 15214213 | 安义融兴村镇银行 |\n| 15433613 | 安徽肥西石银村镇银行 |\n| 15736610 | 广元包商贵民村镇银行 |\n| 15003363 | 安吉交银村镇银行 |\n| 15195377 | 松滋中银富登村镇银行 |\n| 15402220 | 大连保税区珠江村镇银行 |\n| 14012900 | 上海农信 |\n| 4943030 | 徐州市商业银行 |\n| 4392270 | 锦州市商业银行 |\n| 14385500 | 湖南省农村信用社联合社 |\n| 15136900 | 重庆农村商业银行 |\n| 3320000 | 南洋商业银行（中国） |\n| 3330001 | 法国兴业银行（中国） |\n| 27090392 | 日本三菱信用卡公司 |\n| 1020344 | 中国工商银行(亚洲)有限公司 |\n| 14498500 | 青海省农村信用社联合社 |\n| 15272929 | 嘉定民生村镇银行 |\n| 29470608 | PVBCardCorporation |\n| 14144520 | 青岛农信 |\n| 5722280 | 营口沿海银行 |\n| 5803320 | 宁波通商银行 |\n| 28790784 | CommercialBankofDubai |\n| 15033161 | 兴化苏南村镇银行 |\n| 15142050 | 鄂尔多斯市东胜蒙银村镇银行 |\n| 15214933 | 新安融兴村镇银行 |\n| 15301750 | 晋中市榆次融信村镇银行 |\n| 15584510 | 济南长清沪农商村镇银行 |\n| 15584630 | 泰安沪农商村镇银行 |\n| 15584631 | 宁阳沪农商村镇银行 |\n| 15584633 | 东平沪农商村镇银行 |\n| 15585525 | 醴陵沪农商村镇银行 |\n| 15585624 | 双峰沪农商村镇银行 |\n| 1020360 | 中国工商银行印尼分行 |\n| 4462269 | 丹东银行 |\n| 5406650 | 乐山市商业银行 |\n| 15567513 | 云南祥云渝农商村镇银行 |\n| 15567523 | 云南鹤庆渝农商村镇银行 |\n| 5705500 | 华融湘江银行 |\n| 28880840 | TheBancorpBank |\n| 15587580 | 临沧临翔沪农商村镇银行 |\n| 29010410 | 新韩卡公司 |\n| 15696249 | 兴业柳银村镇银行 |\n| 15696246 | 北流柳银村镇银行 |\n| 5625081 | 周口银行 |\n| 15273752 | 天长民生村镇银行 |\n| 15072900 | 奉贤浦发村镇银行 |\n| 15273774 | 宁国民生村镇银行 |\n| 15195321 | 京山中银富登村镇银行 |\n| 25180344 | 中银信用卡(国际)有限公司 |\n| 1020446 | 中国工商银行（澳门） |\n| 26620496 | 蒙古郭勒姆特银行 |\n| 1020276 | 中国工商银行法兰克福分行 |\n| 1020380 | 中国工商银行米兰分行 |\n| 3190002 | 花旗中国 |\n| 3290000 | 韩亚银行（中国） |\n| 15083454 | 浙江温岭联合村镇银行 |\n| 15283310 | 浙江萧山湖商村镇银行 |\n| 15605053 | 灵宝融丰村镇银行 |\n| 15403088 | 盱眙珠江村镇银行 |\n| 15366310 | 钦州市钦南国民村镇银行 |\n| 64484210 | 南昌银行 |\n| 5870000 | 厦门国际银行 |\n| 3020000 | 中信银行 |\n| 4325260 | 宜昌市商业银行 |\n| 65394200 | 江西省农村信用社联合社 |\n| 14156020 | 东莞农村商业银行 |\n| 26230446 | 大西洋银行股份有限公司 |\n| 4512420 | 吉林市商业银行 |\n| 3030000 | 光大银行 |\n| 3080000 | 招商银行 |\n| 14144500 | 山东省农村信用社联合社 |\n| 14436100 | 广西农村信用社联合社 |\n| 4233310 | 杭州银行 |\n| 5264330 | 上饶市商业银行 |\n| 3010344 | 交通银行香港分行 |\n| 3310000 | 澳门永亨银行 |\n| 4416900 | 重庆市商业银行 |\n| 25250446 | 大丰银行有限公司 |\n| 26330398 | 哈萨克斯坦国民储蓄银行 |\n| 15406672 | 彭山珠江村镇银行 |\n| 15915936 | 德庆华润村镇银行 |\n| 15737012 | 息烽包商黔隆村镇银行 |\n| 15735556 | 武冈包商村镇银行 |\n| 15737090 | 毕节发展村镇银行 |\n| 4192310 | 辽阳市商业银行 |\n| 4462260 | 丹东市商业银行 |\n| 25160344 | 中信嘉华银行有限公司 |\n| 14181000 | 北京农村商业银行 |\n| 5056020 | 东莞商行 |\n| 5154680 | 德州市商业银行 |\n| 15633632 | 安徽五河永泰村镇银行 |\n| 15405545 | 常宁珠江村镇银行 |\n| 15194616 | 嘉祥中银富登村镇银行 |\n| 15203438 | 浙江景宁银座村镇银行 |\n| 15215521 | 株洲县融兴村镇银行 |\n| 15216922 | 重庆大渡口融兴村镇银行 |\n| 5646710 | 宜宾市商业银行 |\n| 14333051 | 太仓农村商业银行 |\n| 14367000 | 贵州省农村信用社联合社 |\n| 5197117 | 安顺市城市信用社 |\n| 14505800 | 广东南海农村商业银行 |\n| 26700860 | 丝绸之路银行 |\n| 27130096 | Baiduri Bank Berhad |\n| 28040586 | 巴基斯坦FAYSAL BANK |\n| 1020586 | 中国工商银行卡拉奇分行 |\n| 15211443 | 河间融惠村镇银行 |\n| 15464520 | 青岛胶南海汇村镇银行 |\n| 15033142 | 句容茅山村镇银行 |\n| 15115893 | 广东恩平汇丰村镇银行 |\n| 15195288 | 枣阳中银富登村镇银行 |\n| 15203457 | 浙江三门银座村镇银行 |\n| 15218242 | 会宁会师村镇银行 |\n| 15335840 | 宝生村镇银行 |\n| 15386423 | 文昌国民村镇银行 |\n| 15438720 | 大武口石银村镇银行 |\n| 15585511 | 长沙星沙沪农商村镇银行 |\n| 4885050 | 三门峡银行 |\n| 1040702 | 中行新加坡分行 |\n| 64314730 | 临商银行 |\n| 64916170 | 桂林银行 |\n| 15587431 | 个旧沪农商村镇银行 |\n| 15587435 | 建水沪农商村镇银行 |\n| 29230268 | 格鲁吉亚InvestBank |\n| 29460180 | RawbankS.a.r.l |\n| 15455880 | 佛山高明顺银村镇银行 |\n| 15401000 | 北京门头沟珠江村镇银行 |\n| 15368841 | 哈密红星国民村镇银行 |\n| 15273456 | 天台民生村镇银行 |\n| 15273051 | 太仓民生村镇银行 |\n| 15271329 | 宁晋民生村镇银行 |\n| 15055411 | 恩施常农商村镇银行 |\n| 15204280 | 江西赣州银座村镇银行 |\n| 15206900 | 重庆渝北银座村镇银行 |\n| 26530496 | 可汗银行 |\n| 5197110 | 安顺市商业银行 |\n| 5442320 | 盘锦市商业银行 |\n| 5541310 | 邢台银行股份有限公司 |\n| 4437010 | 贵阳银行股份有限公司 |\n| 99999900 | 新网银行 |\n| 27650860 | 乌兹别克斯坦INFINBANK |\n| 65341770 | 临汾市尧都区农信社 |\n| 5541310 | 邢台银行 |\n| 1020360 | 中国工商银行（印度尼西亚） |\n| 1020398 | 工行阿拉木图 |\n| 1020458 | 工银马来西亚 |\n| 1020528 | 中国工商银行阿姆斯特丹 |\n| 1020826 | 工行伦敦 |\n| 1040116 | 中国银行金边分行 |\n| 1040458 | 中国银行(马来西亚 |\n| 1040704 | 中国银行胡志明分行 |\n| 3190001 | 花旗银行(中国)有限公司 |\n| 3210000 | 汇丰银(中国)有限公司 |\n| 15083387 | 浙江义乌联合村镇银行 |\n| 15283361 | 浙江德清湖商村镇银行 |\n| 5565040 | 漯河银行 |\n| 15276914 | 潼南民生村镇银行 |\n| 4053919 | 福建海峡银行 |\n| 15731982 | 科尔沁包商村镇银行 |\n| 15363321 | 象山国民村镇银行 |\n| 5342050 | 鄂尔多斯银行股份有限公司 |\n| 4956140 | 柳州市商业银行 |\n| 3040000 | 华夏银行 |\n| 3170000 | 渤海银行 |\n| 4012900 | 上海银行 |\n| 5238333 | 平凉市城市信用社 |\n| 65012900 | 上海农村商业银行 |\n| 3060000 | 广东发展银行 |\n| 14411200 | 河北省农村信用社联合社 |\n| 3310000 | 永亨银行 |\n| 64922690 | 大庆市商业银行 |\n| 5303380 | 浙江稠州商业银行 |\n| 4302249 | 抚顺银行 |\n| 15736510 | 新都桂城村镇银行 |\n| 15277491 | 景洪民生村镇银行 |\n| 14595210 | 武汉农村商业银行 |\n| 15353117 | 江苏东台稠州村镇银行 |\n| 16023031 | 江苏丰县民丰村镇银行 |\n| 16023074 | 江苏灌南民丰村镇银行 |\n| 3134730 | 临沂市商业银行 |\n| 14123020 | 江阴市农村商业银行 |\n| 4221210 | 石家庄市商业银行 |\n| 25040344 | 大新银行有限公司 |\n| 4703350 | 嘉兴市商业银行 |\n| 4437010 | 贵阳市商业银行 |\n| 4478210 | 兰州市商业银行 |\n| 4721460 | 廊坊市商业银行 |\n| 64741910 | 内蒙古银行 |\n| 3134530 | 淄博市商业银行 |\n| 14452400 | 吉林省农村信用社联合社 |\n| 15283813 | 安徽利辛湖商村镇银行 |\n| 64895910 | 广东南粤银行股份有限公司 |\n| 15212629 | 延寿融兴村镇银行 |\n| 15356900 | 重庆北碚稠州村镇银行 |\n| 14315850 | 珠海农村信用合作社联社 |\n| 17219924 | 安阳商业银行 |\n| 27250608 | 菲律宾RCBC |\n| 15604951 | 宝丰豫丰村镇银行 |\n| 5417900 | 长安银行 |\n| 5795020 | 濮阳银行 |\n| 15195287 | 老河口中银富登村镇银行 |\n| 15585514 | 宁乡沪农商行村镇银行 |\n| 15572210 | 沈阳于洪永安村镇银行 |\n| 15775985 | 东源泰业村镇银行 |\n| 1020702 | 中国工商银行新加坡分行 |\n| 15567511 | 云南大理渝农商村镇银行 |\n| 5611480 | 衡水市商业银行 |\n| 15587310 | 阿拉沪农商村镇银行 |\n| 29440480 | CimFinanceLtd |\n| 5556840 | 凉山州商业银行 |\n| 15354353 | 吉安稠州村镇银行 |\n| 14448800 | 新疆农村信用社联合社 |\n| 14572600 | 黑龙江省农村信用社联合社 |\n| 15173120 | 江苏邗江民泰村镇银行 |\n| 15194737 | 沂水中银富登村镇银行 |\n| 15211000 | 北京怀柔融兴村镇银行 |\n| 15215840 | 深圳宝安融兴村镇银行 |\n| 5374610 | 济宁银行股份有限公司 |\n| 5591750 | 晋中市商业银行 |\n| 5658880 | 库尔勒市商业银行 |\n| 64094510 | 齐鲁银行股份有限公司 |\n| 4901380 | 张家口市商业银行 |\n| 1020116 | 中国工商银行金边分行 |\n| 1020418 | 中国工商银行万象分行 |\n| 1020442 | 中国工商银行卢森堡分行 |\n| 1020704 | 工行河内 |\n| 1020724 | 中国工商银行马德里分行 |\n| 1040360 | 中国银行雅加达分行 |\n| 1040410 | 中国银行首尔分行 |\n| 1040764 | 中国银行曼谷分行 |\n| 15009028 | 石河子交银村镇银行 |\n| 15276900 | 綦江民生村镇银行 |\n| 15476340 | 贺州八步东盈村镇银行 |\n| 15276880 | 资阳民生村镇银行 |\n| 15732030 | 集宁包商村镇银行 |\n| 4966730 | 南充市商业银行 |\n| 1040000 | 中国银行 |\n| 14055810 | 广州农村商业银行 |\n| 1020446 | 中国工商银行澳门分行 |\n| 14468700 | 黄河农村商业银行 |\n| 5181810 | 运城市农村信用合作社联合社 |\n| 5247410 | 玉溪市商业银行 |\n| 5131410 | 承德市商业银行 |\n| 64296510 | 成都市商业银行 |\n| 25090344 | 上海商业银行 |\n| 4083320 | 宁波市商业银行 |\n| 4422610 | 哈尔滨市银行 |\n| 25210344 | 集友银行 |\n| 5027360 | 曲靖市商业银行 |\n| 4332350 | 葫芦岛市商业银行 |\n| 4721460 | 廊坊银行 |\n| 15278046 | 志丹民生村镇银行 |\n| 15475950 | 惠州仲恺东盈村镇银行 |\n| 15735320 | 掇刀包商村镇银行 |\n| 5478820 | 昆仑银行股份有限公司 |\n| 14097310 | 昆明农联社 |\n| 4956140 | 柳州银行股份有限公司 |\n| 25080344 | 星展银行香港有限公司 |\n| 15278060 | 榆林榆阳民生村镇银行 |\n| 14603040 | 江南农村商业银行 |\n| 16013144 | 江苏丹阳保得村镇银行 |\n| 16023073 | 江苏灌云民丰村镇银行 |\n| 4856590 | 绵阳市商业银行 |\n| 4643970 | 泉州市商业银行 |\n| 3110000 | 恒丰银行 |\n| 4053910 | 福州市商业银行 |\n| 3134580 | 潍纺市商业银行 |\n| 4302240 | 抚顺市商业银行 |\n| 64135810 | 广州市商业银行 |\n| 14283054 | 吴江农商行 |\n| 3190001 | 花旗银行有限公司 |\n| 4672290 | 阜新市商业银行 |\n| 4733450 | 泰隆城市信用社 |\n| 14163056 | 张家港市农村商业银行 |\n| 4786110 | 南宁市商业银行 |\n| 14203320 | 鄞州农村合作银行 |\n| 25170344 | 创兴银行有限公司 |\n| 15483023 | 宜兴阳羡村镇银行 |\n| 1020554 | 工银新西兰 |\n| 5785800 | 广东华兴银行 |\n| 15183653 | 安徽和县新华村镇银行 |\n| 15215373 | 洪湖融兴村镇银行 |\n| 15315960 | 梅县客家村镇银行 |\n| 65131410 | 承德银行 |\n| 5824540 | 枣庄银行 |\n| 65373020 | 无锡农村商业银行 |\n| 14303050 | 江苏东吴农村商业银行 |\n| 64422610 | 哈尔滨商行 |\n| 14341770 | 尧都区农村信用合作社联社 |\n| 4974634 | 莱芜银行 |\n| 26040344 | Travelex |\n| 26220446 | 澳门国际银行 |\n| 5778981 | 新疆汇和银行 |\n| 99900458 | BankofChina(Malaysia); |\n| 5565040 | 漯河商行 |\n| 26550704 | 越南Vietcombank |\n| 28660410 | 韩国三星卡公司 |\n| 15083333 | 浙江乐清联合村镇银行 |\n| 15083351 | 浙江嘉善联合村镇银行 |\n| 15195284 | 谷城中银富登村镇银行 |\n| 15212411 | 榆树融兴村镇银行 |\n| 15483052 | 昆山鹿城村镇银行 |\n| 15585623 | 涟源沪农商村镇银行 |\n| 15585635 | 永兴沪农商村镇银行 |\n| 15776020 | 东莞长安村镇银行 |\n| 15357313 | 云南安宁稠州村镇银行 |\n| 64375850 | 珠海华润银行 |\n| 48080001 | 中银通支付 |\n| 15587530 | 保山隆阳沪农商村镇银行 |\n| 27670643 | RussianStandardBank |\n| 29120496 | CapitalBankofMongolia |\n| 15733129 | 仪征包商村镇银行 |\n| 5521340 | 保定银行 |\n| 15494210 | 南昌大丰村镇银行 |\n| 15403066 | 启东珠江村镇银行 |\n| 15731922 | 固阳包商惠农村镇银行 |\n| 15566761 | 大竹渝农商村镇银行 |\n| 15641100 | 天津华明村镇银行 |\n| 15511100 | 天津武清村镇银行 |\n| 14511900 | 内蒙古农村信用社联合式 |\n| 14538200 | 甘肃省农村信用社联合社 |\n| 15025371 | 湖北仙桃北农商村镇银行 |\n| 15036512 | 双流诚民村镇银行 |\n| 15044015 | 福建建瓯石狮村镇银行 |\n| 15103352 | 浙江平湖工银村镇银行 |\n| 15106919 | 重庆璧山工银村镇银行 |\n| 15116917 | 重庆大足汇丰村镇银行 |\n| 15123181 | 江苏沭阳东吴村镇银行 |\n| 15265130 | 南阳村镇银行 |\n| 26070702 | 新加坡大华银行 |\n| 5171270 | 邯郸市商业银行 |\n| 5342050 | 鄂尔多斯银行 |\n| 5365030 | 许昌市商业银行 |\n| 5631650 | 阳泉市商业银行 |\n| 64634280 | 赣州银行股份有限公司 |\n| 15113961 | 福建永安汇丰村镇银行 |\n| 1020250 | 中国工商银行巴黎分行 |\n| 1020380 | 工行米兰 |\n| 1020764 | 工银泰国 |\n| 1020826 | 中国工商银行伦敦子行 |\n| 1043320 | 中行宁波分行 |\n| 3240000 | 星展银行 |\n| 3280000 | 新韩银行 |\n| 64221210 | 河北银行股份有限公司 |\n| 14616410 | 海口联合农村商业银行 |\n| 15277533 | 腾冲民生村镇银行 |\n| 15643621 | 芜湖泰寿村镇银行 |\n| 15947916 | 西安高陵阳光村镇银行 |\n| 15275323 | 钟祥民生村镇银行 |\n| 15366230 | 银海国民村镇银行 |\n| 15404520 | 青岛城阳珠江村镇银行 |\n| 4403600 | 徽商银行 |\n| 4791920 | 包商银行 |\n| 4634280 | 赣州市商业银行 |\n| 3100000 | 上海浦东发展银行 |\n| 3210000 | 香港上海汇丰银行有限公司 |\n| 64135810 | 广州银行股份有限公司 |\n| 15406584 | 广汉珠江村镇银行 |\n| 14163056 | 张家港农村商业银行 |\n| 15563056 | 张家港渝农商村镇银行 |\n| 15624916 | 新密郑银村镇银行 |\n| 15368851 | 昌吉国民村镇银行 |\n| 15272454 | 梅河口民生村镇银行 |\n| 15845013 | 武陟射阳村镇银行 |\n| 14231430 | 沧州农信社 |\n| 14326030 | 中山市农村信用合作社 |\n| 4593450 | 台州市商业银行 |\n| 4588510 | 西宁市商业银行 |\n| 64733450 | 浙江泰隆商业银行 |\n| 5484959 | 平顶山银行 |\n| 15194752 | 曹县中银富登村镇银行 |\n| 15195379 | 监利中银富登村镇银行 |\n| 15212723 | 桦川融兴村镇银行 |\n| 15214931 | 偃师融兴村镇银行 |\n| 15215547 | 耒阳融兴村镇银行 |\n| 15356926 | 忠县稠州村镇银行 |\n| 15406030 | 中山东凤珠江村镇银行 |\n| 4062410 | 长春市商业银行 |\n| 4447910 | 西安市商业银行 |\n| 4603110 | 盐城商行 |\n| 14105200 | 湖北农信社 |\n| 3340000 | 大华银行（中国） |\n| 27200704 | 越南西贡商业银行 |\n| 27520702 | 新加坡星网电子付款 |\n| 27710418 | BCEL |\n| 28030410 | 韩国乐天 |\n| 1020124 | 中国工商银行加拿大分行 |\n| 3360000 | 企业银行（中国） |\n| 15438710 | 银川掌政石银村镇银行 |\n| 15521463 | 永清吉银村镇银行 |\n| 5755200 | 湖北银行 |\n| 28530496 | MongoliaTradeDevelop.Bank |\n| 15195375 | 潜江中银富登村镇银行 |\n| 15206925 | 重庆黔江银座村镇银行 |\n| 15405895 | 鹤山珠江村镇银行 |\n| 15535367 | 湖北赤壁武弄商村镇银行 |\n| 15584713 | 阳谷沪农商村镇银行 |\n| 15476020 | 东莞大朗东盈村镇银行 |\n| 25190344 | 中国银行（香港） |\n| 15732057 | 乌审旗包商村镇银行 |\n| 64895910 | 广东南粤银行 |\n| 15581000 | 北京房山沪农商村镇银行 |\n| 28020446 | 澳门通股份有限公司 |\n| 15732053 | 准格尔旗包商村镇银行 |\n| 15151000 | 北京大兴九银村镇银行 |\n| 15731000 | 北京昌平兆丰村镇银行 |\n| 15363323 | 宁波市鄞州国民村镇银行 |\n| 15115270 | 湖北随州曾都汇丰村镇银行 |\n| 15145840 | 深圳龙岗鼎业村镇银行 |\n| 5503320 | 宁波东海银行 |\n| 5516620 | 遂宁市商业银行 |\n| 5625080 | 周口市商业银行 |\n| 64384530 | 齐商银行 |\n| 64392270 | 锦州银行 |\n| 64624580 | 潍坊银行 |\n| 25290344 | 中国银盛 |\n| 1020076 | 中国工商银行（巴西） |\n| 1020124 | 工行加拿大 |\n| 1020360 | 中国工商银行(印尼 |\n| 1020528 | 工行阿姆斯特丹 |\n| 1040608 | 中国银行马尼拉分行 |\n| 3270000 | 友利银行(中国)有限公司 |\n| 15713386 | 浙江兰溪越商村镇银行 |\n| 15776314 | 灵山泰业村镇银行 |\n| 15916260 | 百色右江华润村镇银行 |\n| 15404560 | 福山珠江村镇银行 |\n| 15731966 | 莫力达瓦包商村镇银行 |\n| 15805364 | 通城惠民村镇银行 |\n| 15696247 | 陆川柳银村镇银行 |\n| 26290840 | Discover Financial Services，Inc |\n| 1020000 | 中国工商银行 |\n| 3090000 | 兴业银行 |\n| 5121660 | 长治市商业银行 |\n| 25100344 | 永隆银行有限公司 |\n| 5253450 | 浙江民泰商业银行 |\n| 4031000 | 北京银行 |\n| 14203323 | 宁波鄞州农村合作银行 |\n| 14293300 | 浙江省农村信用社联合社 |\n| 65243000 | 江苏省农村信用社联合社 |\n| 26630410 | BC卡公司 |\n| 3160000 | 浙商银行 |\n| 5274550 | 东营市商业银行 |\n| 5311930 | 乌海市商业银行 |\n| 4991240 | 唐山市商业银行 |\n| 14427900 | 陕西省农村信用社联合社 |\n| 4491610 | 太原市商业银行 |\n| 5007020 | 六盘水商行 |\n| 4162640 | 齐齐哈尔市商业银行 |\n| 4491610 | 晋商银行 |\n| 15696141 | 柳江柳银村镇银行 |\n| 15366170 | 桂林国民村镇银行 |\n| 15275210 | 江夏民生村镇银行 |\n| 14215881 | 佛山市三水区农村信用合作社 |\n| 4184930 | 洛阳市商业银行 |\n| 4170000 | 盛京银行 |\n| 4270001 | 乌鲁木齐市商业银行 |\n| 14045840 | 深圳农村商业银行 |\n| 4504520 | 青岛市商业银行 |\n| 4753360 | 湖州市商业银行 |\n| 4256020 | 东莞市商业银行 |\n| 16023757 | 安徽明光民丰村镇银行 |\n| 15275251 | 宜都民生村镇银行 |\n| 14551600 | 山西省农村信用社联合社 |\n| 5484950 | 平顶山银行股份有限公司 |\n| 15193754 | 全椒中银富登村镇银行 |\n| 15194588 | 青州中银富登村镇银行 |\n| 15194755 | 单县中银富登村镇银行 |\n| 15216900 | 重庆沙坪坝融兴村镇银行 |\n| 15216925 | 重庆市武隆融兴村镇银行 |\n| 4916170 | 桂林市商业银行 |\n| 3134732 | 日照市商业银行 |\n| 4652280 | 营口市商业银行 |\n| 14353041 | 武进农村商业银行 |\n| 27240608 | 菲律宾BDO |\n| 27550031 | RoyalBank |\n| 28590410 | 韩国KB |\n| 48100000 | 中银通商务支付有限公司 |\n| 64554770 | 日照银行 |\n| 15404988 | 辉县珠江村镇银行 |\n| 15436901 | 重庆江津石银村镇银行 |\n| 5818200 | 甘肃银行 |\n| 28450643 | 俄罗斯ORIENTEXPRESSBANK |\n| 15283315 | 浙江建德湖商村镇银行 |\n| 15355810 | 广州花都稠州村镇银行 |\n| 15446610 | 广元贵商村镇银行 |\n| 15585586 | 石门沪农商村镇银行 |\n| 15786020 | 东莞厚街华业村镇银行 |\n| 15214221 | 乐平融兴村镇银行 |\n| 65264330 | 上饶银行 |\n| 65385500 | 湖南农村信用社联合社 |\n| 29170480 | TheMauritiusCommercialBank |\n| 15587432 | 开远沪农商村镇银行 |\n| 15587433 | 蒙自沪农商村镇银行 |\n| 15587437 | 弥勒沪农商村镇银行 |\n| 15641442 | 任丘泰寿村镇银行 |\n| 15438730 | 吴忠市滨河村镇银行 |\n| 15845016 | 孟州射阳村镇银行 |\n| 15738712 | 宁夏贺兰回商村镇银行 |\n| 14542200 | 辽宁省农村信用社联合社 |\n| 15006518 | 大邑交银兴民村镇银行 |\n| 15036753 | 宣汉诚民村镇银行 |\n| 15083362 | 浙江长兴联合村镇银行 |\n| 15156030 | 中山小榄村镇银行 |\n| 26290840 | Discover Financial Services，I |\n| 26320446 | 澳门商业银行 |\n| 5576750 | 达州市商业银行 |\n| 5666770 | 雅安市商业银行 |\n| 5675060 | 商丘商行 |\n| 64786110 | 广西北部湾银行 |\n| 15183772 | 郎溪新华村镇银行 |\n| 65097300 | 云南省农村信用社 |\n| 4761430 | 沧州银行 |\n| 1020056 | 工行布鲁塞尔 |\n| 1020056 | 中国工商银行布鲁塞尔分行 |\n| 1020392 | 工行东京分行 |\n| 1020458 | 工行马来西亚 |\n| 1020704 | 工银河内 |\n| 1033320 | 宁波市农业银行 |\n| 15273790 | 池州贵池民生村镇银行 |\n| 15515134 | 河南方城凤裕村镇银行 |\n| 15731611 | 清徐惠民村镇银行 |\n| 4375850 | 珠海华润银行股份有限公司 |\n| 15563956 | 福建沙县渝农商村镇银行 |\n| 4571260 | 秦皇岛银行股份有限公司 |\n| 15404569 | 莱州珠江村镇银行 |\n| 15404790 | 莱芜珠江村镇银行 |\n| 15732017 | 西乌珠穆沁包商惠丰村镇银行 |\n| 4447910 | 西安银行股份有限公司 |\n| 15752281 | 辽宁大石桥隆丰村镇银行 |\n| 15734759 | 鄄城包商村镇银行 |\n| 15625033 | 鄢陵郑银村镇银行 |\n| 15522410 | 长春双阳吉银村镇银行 |\n| 15273113 | 阜宁民生村镇银行 |\n| 4562239 | 鞍山银行 |\n| 4986580 | 德阳市商业银行 |\n| 14265930 | 肇庆农村信用社 |\n| 14473600 | 安徽省农村信用社联合社 |\n| 1040446 | 中国银行澳门分行 |\n| 14486400 | 海南省农村信用社联合社 |\n| 26690643 | 莫斯科人民储蓄银行 |\n| 4123330 | 温州银行 |\n| 14191100 | 天津市农村信用社 |\n| 15776927 | 开县泰业村镇银行 |\n| 15654924 | 开封新东方村镇银行 |\n| 4836560 | 攀枝花市商业银行 |\n| 15406522 | 新津珠江村镇银行 |\n| 5734220 | 景德镇商业银行 |\n| 15773683 | 枞阳泰业村镇银行 |\n| 16023010 | 江苏溧水民丰村镇银行 |\n| 65226510 | 成都农村商业银行 |\n| 4871620 | 大同市商业银行 |\n| 3134650 | 威海市商业银行 |\n| 4523060 | 南通市商业银行 |\n| 4341100 | 天津市商业银行 |\n| 4885050 | 三门峡市城市信用社 |\n| 14023052 | 昆山农村信用合作社联合社 |\n| 4895910 | 湛江市商业银行 |\n| 4283370 | 绍兴市商业银行 |\n| 4243010 | 南京银行 |\n| 4213050 | 苏州市商业银行 |\n| 14275880 | 佛山市禅城区农村信用联社 |\n| 65085883 | 佛山顺德农村商业银行 |\n| 5031680 | 晋城商业银行 |\n| 4484210 | 南昌市商业银行 |\n| 15404960 | 安阳珠江村镇银行 |\n| 14033055 | 常熟农村商业银行 |\n| 15366264 | 平果国民村镇银行 |\n| 15183687 | 望江新华村镇银行 |\n| 15194689 | 临邑中银富登村镇银行 |\n| 15215352 | 应城融兴村镇银行 |\n| 15216620 | 遂宁安居融兴村镇银行 |\n| 15216935 | 重庆市酋阳融兴村镇银行 |\n| 15343116 | 江苏大丰江南村镇银行 |\n| 3134560 | 烟台市商业银行 |\n| 4023930 | 厦门银行股份有限公司 |\n| 14561100 | 天津滨海农村商业银行 |\n| 5767700 | 西藏银行 |\n| 15514550 | 东营莱商村镇银行 |\n| 15584712 | 临清沪农商村镇银行 |\n| 15584715 | 茌平沪农商村镇银行 |\n| 15585541 | 衡阳沪农商村镇银行 |\n| 15585584 | 临澧沪农商村镇银行 |\n| 15585634 | 桂阳沪农商村镇银行 |\n| 5311930 | 乌海银行股份有限公司 |\n| 15732415 | 九台龙嘉村镇银行 |\n| 15567571 | 云南香格里拉渝农商村镇银行 |\n| 15476061 | 云浮新兴东盈民生村镇银行 |\n| 64588510 | 青海银行 |\n| 15436900 | 重庆南川石银村镇银行 |\n| 27860446 | 澳门BDA |\n| 15695812 | 从化柳银村镇银行 |\n| 15732036 | 化德包商村镇银行 |\n| 15366110 | 南宁江南国民村镇银行 |\n| 15366231 | 合浦国民村镇银行 |\n| 15015363 | 湖北嘉鱼吴江村镇银行 |\n| 15024521 | 青岛即墨北农商村镇银行 |\n| 15036410 | 海口苏南村镇银行 |\n| 15055416 | 咸丰常农商村镇银行 |\n| 15195338 | 蕲春中银富登村镇银行 |\n| 15201000 | 北京顺义银座村镇银行 |\n| 25070344 | 建设银行亚洲公司 |\n| 25270446 | 建设银行澳门公司 |\n| 26350764 | Bangkok Bank Pcl |\n| 5417930 | 宝鸡商行 |\n| 5426900 | 重庆三峡银行 |\n| 5584980 | 新乡市商业银行 |\n| 64667310 | 富滇银行 |\n| 64753360 | 湖州银行 |\n| 65274550 | 东营银行 |\n| 1020360 | 工银印尼 |\n| 1020398 | 中国工商银行阿拉木图子行 |\n| 1020724 | 工行马德里 |\n| 1040036 | 中国银行（澳大利亚） |\n| 1040392 | 中银东京分行 |\n| 3220000 | 渣打银行中国有限公司 |\n| 3300000 | 华侨银行（中国） |\n| 3310000 | 永亨银行（中国）有限公司 |\n| 15735040 | 漯河市郾城包商村镇银行 |\n| 15369028 | 石河子国民村镇银行 |\n| 15696158 | 融水柳银村镇银行 |\n| 5516629 | 遂宁是商业银行 |\n| 15731971 | 鄂温克旗包商村镇银行 |\n| 15274986 | 长垣民生村镇银行 |\n| 15655031 | 长葛轩辕村镇银行 |\n| 5605128 | 驻马店银行 |\n| 3070000 | 平安银行 |\n| 5083000 | 江苏银行 |\n| 14136530 | 重庆市农村信用社联合社 |\n| 65173900 | 福建省农村信用社联合社 |\n| 4360010 | 宁夏银行 |\n| 3010000 | 交通银行 |\n| 5167030 | 遵义市商业银行 |\n| 4615510 | 长沙市商业银行 |\n| 3050000 | 中国民生银行 |\n| 26110392 | 日本三井住友卡公司 |\n| 47980344 | 中国银行香港 |\n| 14526500 | 四川省农村信用社联合社 |\n| 1000000 | 中国邮政储蓄银行 |\n| 65154680 | 德州银行 |\n| 5492340 | 朝阳银行 |\n| 15733062 | 江苏南通如皋包商村镇银行 |\n| 15184299 | 江西兴国新华村镇银行 |\n| 4866570 | 泸州市商业银行 |\n| 3133930 | 厦门市商业银行 |\n| 4073140 | 镇江市商业银行 |\n| 14033055 | 常熟市农村商业银行 |\n| 3260000 | 恒生银行有限公司 |\n| 4544240 | 九江市商业银行 |\n| 4667310 | 昆明商业银行 |\n| 15283688 | 安徽粤西湖商村镇银行 |\n| 15283812 | 安徽蒙城湖商村镇银行 |\n| 15884583 | 山东临朐聚丰村镇银行 |\n| 15181123 | 天津静海新华村镇银行 |\n| 15193320 | 宁波镇海中银富登村镇银行 |\n| 15193322 | 宁海中银富登村镇银行 |\n| 15193753 | 来安中银富登村镇银行 |\n| 15212625 | 巴彦融兴村镇银行 |\n| 15213063 | 江苏如东融兴村镇银行 |\n| 15273974 | 安溪民生村镇银行 |\n| 15405150 | 信阳珠江村镇银行 |\n| 4922600 | 龙江银行 |\n| 5326560 | 自贡市商业银行 |\n| 5748840 | 哈密市商业银行 |\n| 5832250 | 本溪市商业银行 |\n| 14024510 | 山东省农联社 |\n| 14105210 | 武汉农信 |\n| 4375850 | 珠海市商业银行 |\n| 4354910 | 郑州市商业银行 |\n| 4933120 | 靖江市长江城市信用社 |\n| 3350000 | 大新银行（中国） |\n| 14255890 | 江门新会农村商业银行 |\n| 26780643 | 俄罗斯远东商业银行 |\n| 26790422 | CSC |\n| 26930608 | Allied Bank |\n| 28720762 | CJSCFononbank |\n| 65191100 | 天津农村商业银行 |\n| 4571260 | 秦皇岛市商业银行 |\n| 5438720 | 石嘴山银行 |\n| 28550764 | KrungThajBankPublicCo.Ltd |\n| 28990586 | 巴基斯坦HabibBank |\n| 15185810 | 广州番禹新华村镇银行 |\n| 15212652 | 拜泉融兴村镇银行 |\n| 15216437 | 海南保亭融兴村镇银行 |\n| 15386424 | 琼海国民村镇银行 |\n| 15535360 | 湖北咸安武农商村镇银行 |\n| 15535813 | 广州增城长江村镇银行 |\n| 15584513 | 济南槐荫沪农商村镇银行 |\n| 15584710 | 聊城东昌沪农商村镇银行 |\n| 15584770 | 日照沪农商村镇银行 |\n| 15585583 | 澧县沪农商村镇银行 |\n| 15585591 | 慈利沪农商村镇银行 |\n| 15587317 | 嵩明沪农商村镇银行 |\n| 25020344 | 东亚银行有限公司 |\n| 15366322 | 东兴国民村镇银行 |\n| 4974790 | 莱商银行 |\n| 15585840 | 深圳光明沪农商村镇银行 |\n| 15587546 | 瑞丽沪农商村镇银行 |\n| 5695150 | 信阳银行 |\n| 15696248 | 博白柳银村镇银行 |\n| 15732220 | 大连金州联丰村镇银行 |\n| 15731100 | 天津津南村镇银行 |\n| 15731948 | 宁城包商村镇银行 |\n| 4083320 | 宁波银行 |\n| 15111027 | 北京密云汇丰村镇银行 |\n| 15142080 | 方大村镇银行 |\n| 15183651 | 安徽当涂新华村镇银行 |\n| 15205840 | 深圳福田银座村镇银行 |\n| 5354970 | 鹤壁银行 |\n| 5392330 | 铁岭银行 |\n| 5605110 | 驻马店市商业银行 |\n| 64544240 | 九江银行股份有限公司 |\n| 65675060 | 商丘市商业银行 |\n| 15272900 | 上海松江民生村镇银行 |\n| 1020276 | 工银法兰克福 |\n| 1020410 | 工行首尔 |\n| 3010446 | 交通银行澳门分行 |\n| 3080344 | 招商银行香港分行 |\n| 15523120 | 江都吉银村镇银行 |\n| 4184930 | 洛阳银行 |\n| 15083412 | 浙江常山联合村镇银行 |\n| 15404564 | 海阳珠江村镇银行 |\n| 15273993 | 漳浦民生村镇银行 |\n| 14303050 | 苏州银行股份有限公司 |\n| 4652280 | 营口银行股份有限公司 |\n| 15274561 | 蓬莱民生村镇银行 |\n| 4192310 | 辽阳银行股份有限公司 |\n| 15366320 | 防城港防城国民村镇银行 |\n| 15948032 | 陕西洛南阳光村镇银行 |\n| 4504520 | 青岛银行 |\n| 4991240 | 唐山银行 |\n| 14293300 | 杭州联合银行 |\n| 4933160 | 江苏长江商业银行 |\n| 3460000 | 重庆富民银行 |",
        "x-tags": [
          "对象"
        ]
      },
      "batch-payment": {
        "title": "付款批次",
        "type": "object",
        "description": "批次付款object",
        "properties": {
          "createTime": {
            "type": "string",
            "description": "创建时间"
          },
          "batchId": {
            "type": "string",
            "description": "批次号"
          },
          "total": {
            "type": "string",
            "description": "批次请求总数"
          },
          "targetCurrency": {
            "type": "string",
            "description": "目标币种"
          },
          "targetAmount": {
            "type": "string",
            "description": "目标金额"
          },
          "payingTotal": {
            "type": "string",
            "description": "付款中笔数"
          },
          "paidTotal": {
            "type": "string",
            "description": "已付款笔数"
          },
          "failedTotal": {
            "type": "string",
            "description": "失败笔数"
          }
        },
        "x-tags": [
          "对象"
        ]
      },
      "payment": {
        "title": "付款指令",
        "type": "object",
        "description": "付款指令信息",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "外部流水号"
          },
          "payeeBankAccountId": {
            "type": "string",
            "description": "收款人id"
          },
          "sourceCurrency": {
            "type": "string",
            "description": "源币种"
          },
          "sourceAmount": {
            "type": "string",
            "description": "源金额"
          },
          "targetCurrency": {
            "type": "string",
            "description": "目标币种"
          },
          "targetAmount": {
            "type": "string",
            "description": "目标金额"
          },
          "tradeCode": {
            "type": "string",
            "description": "贸易类型"
          },
          "tradeDate": {
            "type": "string",
            "description": "交易时间"
          },
          "goodsName": {
            "type": "string",
            "description": "商品名称"
          },
          "goodsNumber": {
            "type": "string",
            "description": "商品数量"
          },
          "goodsPrice": {
            "type": "string",
            "description": "商品单价"
          },
          "logistics": {
            "type": "string",
            "description": "物流方式"
          },
          "procurementType": {
            "type": "string",
            "description": "采购类型"
          },
          "status": {
            "type": "string",
            "description": "    ON_GOING(\"付款中\"),\n    SUCCESS(\"付款成功\"),\n    FAILED(\"付款失败\"),\n    EXTERNAL_CHECKING(\"审核中\")",
            "enum": [
              "ON_GOING",
              "SUCCESS",
              "FAILED",
              "REFUNDING",
              "REFUNDED",
              "CANCELED",
              "EXTERNAL_CHECKIGN"
            ]
          },
          "failedReason": {
            "type": "string",
            "description": "失败原因"
          },
          "rate": {
            "type": "string",
            "description": "汇率"
          },
          "rateTime": {
            "type": "string",
            "description": "汇率时间"
          },
          "commissionReceived": {
            "type": "string",
            "description": "实收手续费（源币种）"
          },
          "refundAmount": {
            "type": "string",
            "description": "退款金额（源币种，当退汇时有该金额）"
          },
          "createTime": {
            "type": "string",
            "description": "付款单创建时间"
          }
        },
        "x-tags": [
          "对象"
        ]
      }
    },
    "securitySchemes": {
      "Authorization": {
        "type": "oauth2",
        "description": "本接口中使用Basic Auth认证：(Authorization: Basic &lt;&lt;Basic64.encode(developerId:token)&gt;&gt;)",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "",
            "refreshUrl": "",
            "scopes": {}
          },
          "authorizationCode": {
            "authorizationUrl": "",
            "tokenUrl": "",
            "refreshUrl": "",
            "scopes": {}
          }
        }
      }
    }
  },
  "paths": {
    "/supplier/v1/payee-document": {
      "put": {
        "summary": "更新收款人材料信息",
        "operationId": "put-payee-document",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payeeBankAccountId": {
                    "type": "string",
                    "description": "外部收款人银行账户id"
                  },
                  "attachmentId": {
                    "type": "string",
                    "description": "附件id"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "description": "更新合同材料信息，审核成功之后即可使用",
        "tags": [
          "接口"
        ]
      },
      "parameters": []
    },
    "/supplier/v1/payee-bank-accounts": {
      "post": {
        "summary": "创建收款人银行账号信息",
        "operationId": "post-payees",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "收款人银行账号信息",
                  "type": "object",
                  "description": "收款人银行账号信息",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "收款人银行卡账户编号",
                      "maxLength": 32
                    },
                    "accountType": {
                      "type": "string",
                      "enum": [
                        null
                      ],
                      "description": "银行卡账户绑定类型：\n  ENTERPRISE: 对公类型\n  INDIVIDUAL: 对私类型"
                    },
                    "region": {
                      "type": "string",
                      "description": "    CN(\"CN\", \"中国大陆\"),\n    US(\"US\", \"美国\"),\n    FR(\"FR\", \"法国\"),\n    DE(\"DE\", \"德国\"),\n    IT(\"IT\", \"意大利\"),\n    ES(\"ES\", \"西班牙\"),\n    GB(\"GB\", \"英国\"),\n    HK(\"HK\", \"中国香港\")",
                      "enum": [
                        null
                      ],
                      "minLength": 2,
                      "maxLength": 2
                    },
                    "cnyBankInfo": {
                      "title": "人民币银行账号信息",
                      "type": "object",
                      "description": "人民币银行账号信息，创建国内CNY（人民币）银行账号信息时必传",
                      "properties": [
                        null
                      ],
                      "required": [
                        null
                      ],
                      "x-tags": [
                        null
                      ]
                    },
                    "noneCNYBankInfo": {
                      "title": "非人民币银行账户信息",
                      "type": "object",
                      "description": "非人民币银行账户信息，创建非人民币银行账户信息时必传",
                      "properties": [
                        null
                      ],
                      "required": [
                        null
                      ],
                      "x-tags": [
                        null
                      ]
                    },
                    "status": {
                      "type": "string",
                      "description": "    WAITING_DOCUMENT(\"待完善材料\"),\n    WAITING_CHECK(\"待审核\"),\n    SUCCESS(\"成功\"),\n    FAILED(\"失败\")",
                      "enum": [
                        null
                      ]
                    },
                    "createTime": {
                      "type": "string",
                      "description": "创建时间"
                    }
                  },
                  "required": [
                    "id",
                    "accountType",
                    "region",
                    "status",
                    "createTime"
                  ],
                  "x-tags": [
                    "对象"
                  ]
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "业务失败:\n\n| Code | Description |\n|------|------------|\n| 999995| 参数校验失败 |\n| 510004| 附件不存在 |\n| 009012| 该银行卡企业“贸易外汇收支企业名录”状态异常，无法提现至该银行卡 |\n| 009013| 该银行卡企业未在当地外管局办理名录登记，无法提现至该银行卡 |\n| 109001| 收款人申报失败 |\n| 109002| 收款人审核失败 |\n| 109003| 对公账户不支持绑定对私银行卡 |\n| 109004| 存在待审核的合同 |\n| 109002| 收款人信息有误 |"
          },
          "500": {
            "description": "系统异常类型:\n\n| Code | Description |\n|------|------------|\n| 500000| Internal Server Error, Contact Lianlian Pay for technical support|"
          }
        },
        "description": "创建收款人银行账号信息，创建前请提前调用附件接口上传相关材料文件，创建成功会返回收款人信息，如果姓名、证件号、银行账号匹配已有收款人信息，则会返回已存在的收款人。\n\n成功创建收款人银行账号之后，连连这边会给与审核，状态为审核成功之后就能正常使用该收款人。\n\n收款银行编码请参照 `银行信息枚举` 对象",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "attachmentId": {
                    "type": "string",
                    "description": "附件编号（调用附件上传接口获得）",
                    "maxLength": 32
                  },
                  "accountType": {
                    "type": "string",
                    "enum": [
                      "ENTERPRISE",
                      "INDIVIDUAL"
                    ],
                    "description": "银行账户绑定类型：\n   ENTERPRISE: 对公类型\n   INDIVIDUAL: 对私类型"
                  },
                  "region": {
                    "type": "string",
                    "description": "    CN(\"CN\", \"中国大陆\"),\n    US(\"US\", \"美国\"),\n    FR(\"FR\", \"法国\"),\n    DE(\"DE\", \"德国\"),\n    IT(\"IT\", \"意大利\"),\n    ES(\"ES\", \"西班牙\"),\n    GB(\"GB\", \"英国\"),\n    HK(\"HK\", \"中国香港\"),\n    AU(\"AU\", \"澳大利亚\"),\n    TW(\"TW\", \"中国台湾\"),\n    KR(\"KR\", \"韩国\"),\n    JP(\"JP\", \"日本\")",
                    "enum": [
                      "CN",
                      "US",
                      "FR",
                      "DE",
                      "IT",
                      "ES",
                      "GB",
                      "HK",
                      "AU",
                      "TW",
                      "KR",
                      "JP"
                    ],
                    "minLength": 2,
                    "maxLength": 2
                  },
                  "cnyBankAccountInfo": {
                    "type": "object",
                    "description": "人民币银行账户",
                    "properties": {
                      "contactPhone": [
                        null
                      ],
                      "accountNo": [
                        null
                      ],
                      "certNo": [
                        null
                      ],
                      "branchBankName": [
                        null
                      ],
                      "accountName": [
                        null
                      ],
                      "bankCode": [
                        null
                      ],
                      "cityCode": [
                        null
                      ]
                    },
                    "required": [
                      "contactPhone",
                      "accountNo",
                      "certNo",
                      "branchBankName",
                      "accountName",
                      "bankCode",
                      "cityCode"
                    ]
                  },
                  "noneCNYBankAccountInfo": {
                    "title": "非人民币银行账户信息",
                    "type": "object",
                    "description": "非人民币银行账户信息，创建非人民币银行账户信息时必传",
                    "properties": {
                      "accountName": [
                        null
                      ],
                      "bankName": [
                        null
                      ],
                      "accountNo": [
                        null
                      ],
                      "bankCode": [
                        null
                      ],
                      "swiftCode": [
                        null
                      ],
                      "bankAddress": [
                        null
                      ],
                      "currency": [
                        null
                      ]
                    },
                    "required": [
                      "accountName",
                      "bankName",
                      "accountNo",
                      "swiftCode",
                      "bankAddress"
                    ],
                    "x-tags": [
                      "对象"
                    ]
                  }
                },
                "required": [
                  "attachmentId",
                  "accountType",
                  "region"
                ]
              }
            }
          },
          "description": "  创建收款人银行账号信息分为两种：\n  \n  1、创建国内CNY（人民币）银行账号，这时候你需要传cnyBankInfo必传\n  \n  \n  2、创建外币银行账号，这时候noneCNYBankInfo必传"
        },
        "tags": [
          "接口"
        ]
      },
      "parameters": [],
      "get": {
        "summary": "查询收款人信息",
        "operationId": "get-payee-bank-accounts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "number",
                      "description": "总大小"
                    },
                    "list": {
                      "type": "array",
                      "items": [
                        null
                      ]
                    }
                  },
                  "required": [
                    "total"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "业务失败:\n\n| Code | Description |\n|------|------------|\n| 999995| 参数校验失败 |"
          },
          "500": {
            "description": "系统异常类型:\n\n| Code | Description |\n|------|------------|\n| 500000| Internal Server Error, Contact Lianlian Pay for technical support|"
          }
        },
        "description": "分页查询收款人信息",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "id",
            "description": "收款人银行账户编号"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "region",
            "description": "    CN(\"CN\", \"中国大陆\"),\n    US(\"US\", \"美国\"),\n    FR(\"FR\", \"法国\"),\n    DE(\"DE\", \"德国\"),\n    IT(\"IT\", \"意大利\"),\n    ES(\"ES\", \"西班牙\"),\n    GB(\"GB\", \"英国\"),\n    HK(\"HK\", \"中国香港\")"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "accountNo",
            "description": "户名"
          },
          {
            "schema": {
              "type": "number",
              "example": 10,
              "maximum": 100,
              "minimum": 1
            },
            "in": "query",
            "name": "pageSize",
            "required": true,
            "description": "分页大小"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1,
              "example": 1
            },
            "in": "query",
            "name": "pageNum",
            "description": "分页页码",
            "required": true
          }
        ],
        "tags": [
          "接口"
        ]
      }
    },
    "/supplier/v1/payee-bank-accounts/account/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "delete": {
        "summary": "删除收款人银行账号信息",
        "operationId": "delete-payee-bank-accounts-account-id",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "",
        "tags": [
          "接口"
        ]
      }
    },
    "/supplier/v1/batch-payments": {
      "get": {
        "summary": "查询批量付款结果",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "付款批次",
                  "type": "object",
                  "description": "批次付款object",
                  "properties": {
                    "createTime": {
                      "type": "string",
                      "description": "创建时间"
                    },
                    "batchId": {
                      "type": "string",
                      "description": "批次号"
                    },
                    "total": {
                      "type": "string",
                      "description": "批次请求总数"
                    },
                    "targetCurrency": {
                      "type": "string",
                      "description": "目标币种"
                    },
                    "targetAmount": {
                      "type": "string",
                      "description": "目标金额"
                    },
                    "payingTotal": {
                      "type": "string",
                      "description": "付款中笔数"
                    },
                    "paidTotal": {
                      "type": "string",
                      "description": "已付款笔数"
                    },
                    "failedTotal": {
                      "type": "string",
                      "description": "失败笔数"
                    }
                  },
                  "x-tags": [
                    "对象"
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-pays",
        "description": "查询批量付款结果信息",
        "requestBody": {},
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "batchId",
            "required": true,
            "description": "批量付款批次号"
          }
        ],
        "tags": [
          "接口"
        ]
      },
      "post": {
        "summary": "创建批量付款",
        "operationId": "post-pays",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "付款批次",
                  "type": "object",
                  "description": "批次付款object",
                  "properties": {
                    "createTime": {
                      "type": "string",
                      "description": "创建时间"
                    },
                    "batchId": {
                      "type": "string",
                      "description": "批次号"
                    },
                    "total": {
                      "type": "string",
                      "description": "批次请求总数"
                    },
                    "targetCurrency": {
                      "type": "string",
                      "description": "目标币种"
                    },
                    "targetAmount": {
                      "type": "string",
                      "description": "目标金额"
                    },
                    "payingTotal": {
                      "type": "string",
                      "description": "付款中笔数"
                    },
                    "paidTotal": {
                      "type": "string",
                      "description": "已付款笔数"
                    },
                    "failedTotal": {
                      "type": "string",
                      "description": "失败笔数"
                    }
                  },
                  "x-tags": [
                    "对象"
                  ]
                }
              }
            }
          }
        },
        "description": "1、该接口的调用需要优先在连连端开通功能白名单方可使用；\n\n2、在创建该请求前用户需要先调用短信验证码接口来获取二次校验，短信验证码错误次数达8次账号锁定且在2小时之内不能再进行资金操作（当连连这边认定的假期期间，供应商付款也是暂时不可用的）；\n\n3、当用户发送批量付款请求时，API端会根据当前汇率来预估用户余额是否充足，如果余额不足会返回余额不足错误。\n\n\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "batchId": {
                    "type": "string",
                    "minLength": 16,
                    "maxLength": 32,
                    "description": "付款唯一批次号"
                  },
                  "verificationCode": {
                    "type": "string",
                    "description": "短信验证码",
                    "minLength": 4,
                    "maxLength": 8
                  },
                  "sourceCurrency": {
                    "type": "string",
                    "description": "源币种",
                    "example": "USD",
                    "minLength": 3,
                    "maxLength": 3
                  },
                  "targetCurrency": {
                    "type": "string",
                    "description": "目标币种",
                    "example": "USD",
                    "minLength": 3,
                    "maxLength": 3
                  },
                  "list": {
                    "type": "object",
                    "description": "批量付款总笔数，最大1000条",
                    "maxProperties": 1000,
                    "required": [
                      "tradeCode",
                      "payeeBankAccountId",
                      "payeeBankAccountNo",
                      "paymentId",
                      "tradeDate",
                      "goodsName",
                      "goodsNumber",
                      "goodsPrice",
                      "logistics",
                      "procurementType",
                      "targetAmount"
                    ],
                    "properties": {
                      "tradeCode": [
                        null
                      ],
                      "payeeBankAccountId": [
                        null
                      ],
                      "payeeBankAccountNo": [
                        null
                      ],
                      "paymentId": [
                        null
                      ],
                      "tradeDate": [
                        null
                      ],
                      "goodsName": [
                        null
                      ],
                      "goodsNumber": [
                        null
                      ],
                      "goodsPrice": [
                        null
                      ],
                      "logistics": [
                        null
                      ],
                      "procurementType": [
                        null
                      ],
                      "targetAmount": [
                        null
                      ]
                    }
                  }
                },
                "required": [
                  "batchId",
                  "verificationCode",
                  "sourceCurrency",
                  "targetCurrency",
                  "list"
                ]
              }
            }
          },
          "description": ""
        },
        "tags": [
          "接口"
        ]
      }
    },
    "/supplier/v1/batch-payments/{batchId}/payments": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "batchId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "查询付款明细",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "number"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/payment"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-batch-pays-extBatchId",
        "description": "获取批量付款明细",
        "requestBody": {
          "description": ""
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "paymentId"
          },
          {
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1
            },
            "in": "query",
            "name": "pageSize",
            "required": true,
            "description": "分页大小"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1
            },
            "in": "query",
            "name": "pageNum",
            "description": "页码",
            "required": true
          }
        ],
        "tags": [
          "接口"
        ]
      }
    }
  }
}